<div class="gallery">

  <div class="gall">
    <a href="https://vanderlab.github.io/projets/template-de-projet.html">
      <img src="https://vanderlab.github.io/images/ExempleMarkdown.png" alt="Template de projet" width="400" height="300">
    </a>
    <div class="desc">Template de projet</div>
  </div>

  <div class="gall">
  <a href="midi-controller-tower.html">
    <img src="https://raw.githubusercontent.com/marieheuln/midi_controller_tower/master/images/midi-controller-tower_front.jpg" alt="midi controller tower" width="400" height="300">
  </a>
    <div class="desc">Midi controller tower</div>
  </div>

  <div class="gall">
  <a href="aidy3d.html">
    <img src="https://vanderlab.github.io/images/Aidy/Aidy6.jpg" alt="Mascotte Aidy" width="400" height="300">
  </a>
  <div class="desc">Aidy 3D</div>
</div>



<!-- <div class="gall">
  <a target="_blank" href="https://vanderlab.github.io/blog/2017/01/18/Comment-creer-un-post.html">
    <img src="https://vanderlab.github.io/images/ExempleMarkdown.png" alt="Markdown" width="400" height="300">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
-->
</div class="gallery">
